{% extends '_layout' %}
{% block main %}


<section class="container menu" id="lunch">
        <h1>Lunch</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 menu-category">
                <ul>
                    <h3>Antipasti</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-antipasti' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Secondi</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-secondi' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 menu-category">
                <ul>
                    <h3>Insalate</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-insalate' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Pizza</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-pizza' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 menu-category">
                <ul>
                    <h3>Paste</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-paste' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                <ul>
                    <h3>Pesce</h3>
                    {% set entries = craft.entries.section('menuItems').all() %}             
                        {% for entry in entries %}
                            {%  for whichMenu in entry.whichMenu %}
                                {% if whichMenu.slug == 'lunch-pesce' %}
                            <li>
                                <div class="menu-item-name">{{ entry.title }}</div>
                                <div class="menu-item-description">{{ entry.menuItemDescription }}</div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>
<section class="container-fluid d-flex" id="menus">
    <div class="container align-self-center">
            <h1><a href="{{ siteUrl }}menus/brunch">Brunch</a></h1>
            <h1><a href="{{ siteUrl }}menus/lunch">Lunch</a></h1>
            <h1><a href="{{ siteUrl }}menus/dinner">Dinner</a></h1>
            <h1><a href="{{ siteUrl }}menus/dessert">Dessert</a></h1>
            <h1><a href="{{ siteUrl }}menus/drinks">Drinks</a></h1>
    </div>
</section>

<section class="container-fluid hidden" id="reserve">
        <div class="container h-100">
                <div class="row h-100">
                        <div class="col-sm-12 align-self-center">
                                        <h2>Reserve</h2>
                                        <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=172900&type=standard&theme=wide&iframe=false&overlay=false&domain=com&lang=en-US'></script>
                                        <h4>By Phone</h4>
                                        <p><a href="tel:1-305-456-9948">(305) 456-9948</a></p>
                        </div>
                </div>
                
        </div>
</section>


</div>



{% endblock %}